<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="ui-content scrollable">
    <div class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading text-center">BCESH Multi-Day AUC and ADC Form</div>

        <div class="panel-body">
          <div>

              <p>Employee :</p>

              <p>Bezos, Jeff(UL-01)</p>
                    <p>Team </p>
                      <input type="text" class="form-control"  name="search" value="Station 240">
  </div>


<hr>


<div >

  <div  data-toggle="collapse" data-target="#demo">Line #1(7/9-10/9)
    <button type="reset" style="float: right;">clear</button>

 </div>



    <form id="demo" class="collapse">
    <tr>
    <p>
      <td>Start Date</td>
    </p>
      <td><input type="date" style="margin-left: 35%; width: 5.0cm" value="2022-09-07" ></td>
    </tr>

    <tr>
    <p>
      <td>End Date</td>
    </p>
      <td><input  type="date" style="margin-left: 35%; width: 5.0cm;" value="2022-09-10" ></td>
    </tr>

    <tr>
    <p>
      <td>Department</td>
    </p>
      <td><input type="text" style="margin-left: 35%;" value="EHSC Accounting"></td>
    </tr>

    <tr>
      <p>
      <td>Acc Code</td>
    </p>
      <td><input type="text" style="margin-left: 35%;" value="BCEHS Corporate"></td>
    </tr>

    <tr>
    <p>
      <td>Explanation</td>
    </p>
      <td><input type="text" style="margin-left: 35%;"></td>
    </tr>
</form>



</div>
  <p>Line #2(8/20-8/25)
    <button type="reset" style="float: right;">clear</button>
 </p>


<div class="btn-group" style="width:100%">  ,
    <button class="btn btn-primary" style="width:32%; margin-right:1%" type="submit">submit</button>
    <button class="btn btn-primary" style="width:32%; margin-right:1%" type="add new">Add New</button>
    <button class="btn btn-primary" style="width:32%" type="reset">Cancel</button>
 </div>
   </div>
   </div>
   </div>
</div>
</div>

</body>
</html>

